
@import "index";

// modal background
.ls-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  &.is-show {
    opacity: 1;
  }
}

// plant to parent elements to hide scrollbars
.ls-modal-parent-hidden {
  overflow: hidden;
}