
@import "index";

// modal-mask background
.ls-modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.4);
}
.ls-modal-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2001;
}

// plant to parent elements to hide scrollbars
.ls-modal-parent-hidden {
  overflow: hidden;
}