
@import "index";

// <Transition> fade transition
.ls-fade-enter-active,
.ls-fade-leave-active {
  transition: opacity .3s ease-in;
}
.ls-fade-enter-from,
.ls-fade-leave-to {
  opacity: 0;
}
.ls-fade-leave-from,
.ls-fade-enter-to {
  opacity: 1;
}

// <Transition> scale
.ls-scale-enter-active,
.ls-scale-leave-active {
  transition: all .3s ease-in-out;
}
.ls-scale-enter-from,
.ls-scale-leave-to {
  transform: scale3d(.8, .8, 1);
  opacity: 0;
}
.ls-scale-leave-from,
.ls-scale-enter-to {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.ls-scale-move {
  transition: transform .4s;
}